<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/cert.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@1,7..72,300;1,7..72,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <div class="sub-container">
  <h1>Certificate of Achievement</h1>
  <h2>This is granted to:</h2>
  <div class="sub-container">
  <form action="submit" method="post">
          {% for message in get_flashed_messages() %}
            <p> {{message}} </p>
          {%endfor%}
        </br></br>
        <br>
        <div>
          <name="name_input">
        </div></br>
        <p>For completing the <em><b>'Drive Like A Pro'</b></em> driver training</p></br></br>
        <img src="{{ url_for('static', filename="images/goldmedal.png")}}">
</form>
</div>
</div>
</body>
</html>
