<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/index.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<video id="background-video" autoplay="autoplay" muted loop>
  <source src="{{ url_for('static', filename="images/carsblurred.mp4")}}" type="video/mp4">
  Your browser does not support the video tag
</video>
<div class="container">
<h1 id="welcome">Welcome </br>to</br> <i>Drive Like A Pro</i></h1>
<button type="button" class="btn"><a href="{{ url_for('login')}}">Start Training</a></button>
<img id="bluecar" src="{{ url_for('static', filename="images/bluecar.png")}}">
<p id="caption">lessons on driving and safety</p>
</div>
</body>
</html>
