<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/index0.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro</h5>
  <img src="{{ url_for('static', filename="images/mandriving.jpg")}}">
  <div class="top-left">THIS COURSE IS DESIGNED FOR STUDENTS AND NEW DRIVERS.
    IT WILL COVER THE BASICS OF DRIVING SUCH AS ADHERING TO LIGHTS, SIGNS,
    SPEED TO ADVANCED CONCEPTS THAT FOCUSES ON LAWS AND SAFETY.
  </div>
<button id="bottom-left" type="button"><a href="{{ url_for('nf1')}}">Previous</a></button>
<button id="bottom-right" type="button"><a href="{{ url_for('mod1home')}}">Continue</a></button>
</div>
</body>
</html>
