<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> ALCOHOL AND DRIVING</br>
      Approximately 40 percent of all traffic deaths involve drinking drivers</th></tr>
    <tr>
      <td><b>statistics</b></td>
        <td>Recent Pennsylvania statistics show that 30 percent of
          drivers ages 16 to 20 who died in motor vehicle crashes had
          been drinking. This is despite the fact that here in Pennsylvania, as well as in every other state in the U.S., there
          are zero tolerance laws, meaning you may not drink if you are under age 21.
          </td>
      </tr>

      <tr>
        <td><b>blood alcohol concentration (BAC) </b></td>
        <td>If you are a driver under age 21 and your blood alcohol concentration (BAC) is .02 percent or more, you are
          considered to be driving under the influence (DUI). No one can drink and drive safely. </td>
      </tr>

      <tr><td><b>Drinking Responsibly</b></td>
        <td>Do not drink more than one (1) drink per hour, if you are of legal drinking
          age. It takes a person of average weight at least one (1) hour to process the alcohol in every drink. More than
          one (1) drink per hour is very likely to push your blood alcohol level over the legal limit. </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg4')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg6')}}">Continue</a></button>
</div>
</body>
</html>
