<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
      <tr><td><b>Respect a motorcycle</b></td>
        <td>A motorcycle is a full-size vehicle with the same privileges as any vehicle on
          the roadway. Allow a motorcyclist a full lane width. Although it may seem as though there is enough
          room in the traffic lane for a vehicle and a motorcycle, remember the motorcycle needs room
          to maneuver safely.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg1')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg2')}}">Continue</a></button>
</div>
</body>
</html>
