<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> FLEEING OR ELUDING POLICE :</br> Each year, there are about 450 crashes caused
      when a driver attempts to flee or elude police, resulting in 40 to 50 major injuries or fatalities on
      Pennsylvania roadways.</b>
      </th></tr>
    <tr><td>
      If a driver is convicted of fleeing or attempting to elude police, the penalty is a one-year
      suspension of the driving privilege, a <b>fine of $500</b>, plus court costs and other fees, and could
      include imprisonment.</td>
      </tr>
      <tr><th colspan="2"> DRIVING UNDER THE INFLUENCE OF ALCOHOL OR A CONTROLLED SUBSTANCE </b>
        </th></tr>
        <tr><td>
          <b>WHAT CONSTITUTES A DUI (DRIVING UNDER THE INFLUENCE)?</b>
          The penalties for driving while under the influence of alcohol or drugs are severe. In Pennsylvania, if you are of
          legal drinking age <b>(21 or older)</b>, you are considered to be driving <b>"while under the influence"</b> if your blood alcohol
          level is .08 or higher. But, you also may be convicted of DUI at lower BAC levels, if you are stopped by police for
          driving erratically (too slow, too fast, straddling your lane, making wide turns, stopping for no reason, failing to obey
          traffic signs and signals, etc.). </td>
        </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg9')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg10b')}}">Continue</a></button>
</div>
</body>
</html>
