<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> DRIVING DISTRACTIONS</br>
      Anything that causes you to 1) take your attention away from driving, 2) take your eyes off of the road or 3) take
      your hands off of the wheel is a distraction.</th></tr>
    <tr>
      <tr><td><b>Eating, drinking and smoking</b></td>
        <td>These all create safety problems because they often require you to take your
          hands off of the wheel and take your eyes off of the road. Drivers who eat or drink while driving have trouble
          controlling their vehicles and staying in their lane.</td>
      </tr>
      <tr><td><b>Adjusting audio devices</b></td>
        <td> radio, cassette, CD,
          Ipod/Mp3 player. NOTE: headphones/ear pieces can only be used
          in one ear for communication purposes.</td>
      </tr>
      <tr><td><b>Talking on a cell phone</b></td>
        <td> whether it is hands-free or not</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg3')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg4b')}}">Continue</a></button>
</div>
</body>
</html>
