<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro</h5>
<h5 class="module">Learner's Permit</h5>
<div class="sub-container">
<article>
<h2>Scheduling The Road Test</h2>
  <p><b>Appointments must be made to take the Non-Commercial Road Test.</b>
    You may schedule your Road Test via the <b>Driver and Vehicle Services
    website at <a href="https://www.dmv.pa.gov/Pages/default.aspx">www.dmv.pa.gov</b></a>
    If you do not have access to the Internet,you can schedule your driver's test by calling
    <b>1-800-423-5542.</b>
</p></article>
</div>
  <button id="bottom-left" type="button"><a href="{{ url_for('mod1pg5b')}}">Previous</a></button>
  <button id="bottom-right" type="button"><a href="{{ url_for('mod1pg6b')}}">Continue</a></button>
</div>
</body>
</html>
