<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
      <tr><td><b>Windshield</b></td>
        <td>– It is against the law to place anything on the front windshield that blocks a driver’s view of the
          roadway.</td>
      </tr>
      <tr><td><b>Adjust ventilation</b></td>
        <td>You should maintain a constant supply of fresh air in your vehicle. This helps you stay
          alert and guards against carbon monoxide (exhaust gas) poisoning when you drive. Refer to Chapter 6 for
          more information about carbon monoxide poisoning.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg2')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg3')}}">Continue</a></button>
</div>
</body>
</html>
