<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
      <tr><td><b>Adjust head restraints</b></td>
        <td>A head restraint that properly cushions the back of your head can prevent or
          reduce the severity of neck injuries in a crash. Adjust your head restraint so the top of the head restraint is at
          least as high as the top of your ears. Check your owner’s manual for instructions.</td>
      </tr>
      <tr><td><b>Wear your prescription glasses/contact lenses</b></td>
        <td>If you normally wear corrective lenses, always wear them
          while driving. Do not wear sunglasses or tinted contact lenses at night. </td>
      </tr>
      <tr><td><b>Lock your doors</b></td>
        <td> Locking your doors and wearing your seat belt will help to ensure you will not be thrown
          from your vehicle in a crash. Being thrown from a vehicle increases your chances of death by 75 percent. It will
          also reduce the likelihood of being carjacked or otherwise victimized when you stop at an intersection or
          pull into a parking lot.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg2')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg4')}}">Continue</a></button>
</div>
</body>
</html>
