<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro </h5>
<h5 class="module">Learner's Permit</h5>
<div class="list-container">
<h2 class="list-title">Possible reasons for failing the Road Test:</h2>
<ol>
	<li>Violating any traffic laws (e.g., failing to obey a stop sign)</li>
  <li>Driving dangerously or recklessly</li>
  <li>Making errors in safe driving practices</li>
  <li>Failing to follow instructions given by the examiner</li>
  <li>Causing a crash</li>
  <li>Not using turn signals</li>
  </ol>
</div>
  <button id="bottom-left" type="button"><a href="{{ url_for('mod1pg4b')}}">Previous</a></button>
  <button id="bottom-right" type="button"><a href="{{ url_for('mod1pg6')}}">Continue</a></button>
</div>
</body>
</html>
