<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> CRASHES:</br> Do not stop at a crash unless you are involved or if emergency help has not yet arrived. Do not block the way for
      police, firefighters, ambulances, tow trucks and other rescue vehicles.</br> <b>If you are in a crash, you should do the following:</b>
      </th></tr>
          <tr><td>
             1. Stop your vehicle at or near the crash scene. If you can, move your vehicle off of the road so you do not block
             traffic. Many crashes are caused when traffic stops or slows for an initial crash.</br></br>
             2. Call the police, if anyone is hurt or dies. If the drivers of the vehicles are hurt and cannot call the police, then
             witnesses at or near the crash scene must call for help.</br></br>
             3. Call the police, if any vehicle needs to be towed.
           </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg6')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg8')}}">Continue</a></button>
</div>
</body>
</html>
