<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro</h5>
<h5 class="module">Learner's Permit</h5>
<div class="sub-container">
<article>
<h2>Three (3) chances to pass the Road Test before the Learner's Permit expires:</h2>
<p id="expires">After the third failure, you must reapply to extend your learner’s permit. If you do not pass
your Road Test after <b>three (3)</b> tries or if your learner’s permit expires, you may obtain an Application
to <b>Add/Extend/Replace/Change/Correct Non-Commercial Learner’s Permit (DL-31)</b>. If you have not taken or
successfully completed the Road Test within <b>three (3) years</b> of your physical examination date, you must
start over with another <b>Non-Commercial Learner’s Permit Application (DL-180)</b> and <em>retake</em> the <b>Knowledge Test.</b>
</p>
</article>
</div>
  <button id="bottom-left" type="button"><a href="{{ url_for('mod1pg5')}}">Previous</a></button>
  <button id="bottom-right" type="button"><a href="{{ url_for('mod1pg6')}}">Continue</a></button>
</div>
</body>
</html>
