<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like </h5>
<h5 class="module">Learner's Permit</h5>
<div class="sub-container">
<article>
<h2>Original documents (not copies) are required for the test:</h2>
<p>
<ol class="list">
  <li>	Your valid learner’s permit</li>
	<li>A <b>signed</b> parent or guardian certification form (DL-180C) for 65 hours of behind-the-wheel training,
  if you are under the age of 18</li>
  <li>The valid <b>registration card<</b> for the vehicle you plan to drive for the Road Test.</li>
  <li>Proof that the vehicle is currently <b>insured</b></li>
  <li>The valid <b>driver’s license</b> of the person, who is at least 21 years of age or a parent,
  guardian, person in loco parentis, or spouse who is 18 years of age or older, accompanying
  you to the Driver License Center</li>
  </ol>
</p>
</article>
</div>
  <button id="bottom-left" type="button"><a href="{{ url_for('mod1pg4')}}">Previous</a></button>
  <button id="bottom-right" type="button"><a href="{{ url_for('mod1pg5')}}">Continue</a></button>
</div>
</body>
</html>
