<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> THE PENNSYLVANIA POINT SYSTEM:
      </th></tr>
    <tr>
      <td><b>Left turns</b></td>
        <td>The purpose of the point system is to help to improve driving habits and to ensure safe driving. Points are added
          to a driving record, when a driver is found guilty of certain driving violations..
          </td>
      </tr>

      <tr>
        <td><b>How you accumulate points</b></td>
        <td>When a driving record reaches six (6) or more points for the first time, the driver will receive a written notice to take
          a written special point examination. When the driving record is reduced below six (6) points and reaches six (6) or
          more points for a second time, the driver will have to attend a Departmental hearing.</td>
      </tr>

      <tr><td><b>Points removal for safe driving</b></td>
        <td>Three (3) points are removed from a driving record for every 12 consecutive months in which a person is not under
          suspension or revocation or has not committed any violation, which results in the assignment of points or the
          suspension or revocation of the driving privilege. Once a driving record is reduced to zero and remains at zero
          points for 12 consecutive months.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg2')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg4')}}">Continue</a></button>
</div>
</body>
</html>
