<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/fyi.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Great+Vibes&family=Nanum+Myeongjo&family=Satisfy&family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro</i></h5>
<img src="{{ url_for('static', filename="images/lightbulb.png")}}">
<div class="fyi-container">
<h2 class="fyi-title">Did You Know?</h2>
<p class="fyi-content">Highway workers have forms to report motorists
who speed or drive unsafely in work zones to
the police, who may then issue a ticket,
resulting in fines and points.</p>
</div>
<button id="bottom-right" type="button"><a href="{{ url_for('mod2pg11')}}">Continue</a></button>
</div>
</body>
</html>
