<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
      <tr><td><b>SUSPENSIONS AND REVOCATIONS </b></td>
        <td>• Operating a vehicle while under the influence of drugs or alcohol.
            • Felony involving a vehicle.
            • Homicide by vehicle.
            • Reckless driving.
            • Racing on highways.
            • Fleeing from a police officer.
            • Driving when your driver’s license is already suspended or revoked.
            • Driving without lights to avoid identification.
            • Failure to stop when you are driving a vehicle involved in a crash
            (hit-and-run offense).
            • Second or any additional offense of driving without a valid driver’s
            license within a 5-year period.
            • Failure to stop for a school bus with its red lights flashing and
            stop arm extended (60-day suspension).
            • Failure to comply with a railroad crossing gate or barrier
            (30-day suspension). </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg3')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg5')}}">Continue</a></button>
</div>
</body>
</html>
