<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/fyi.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Great+Vibes&family=Nanum+Myeongjo&family=Satisfy&family=Slabo+27px&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<h5 class="drive">Drive Like A Pro</i></h5>
<img src="{{ url_for('static', filename="images/lightbulb.png")}}">
<div class="fyi-container">
<h2 class="fyi-title">Did You Know?</h2>
<p class="fyi-content">A female who weighs 110 pounds
will have a BAC of .03 after drinking
just 8 oz. of light beer – that’s less
than one full bottle or can. A 140-
pound male will have a BAC of .025
after a full 12 oz. bottle or can of
light beer.</p>
</div>
<button id="bottom-right" type="button"><a href="{{ url_for('mod3pg7')}}">Continue</a></button>
</div>
</body>
</html>
