<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> SHARING THE ROAD:</br>Today’s motorcycle riders are friends, relatives and
      neighbors. The motorcyclist has the same rights and responsibilities on the roadway as drivers of
      other vehicles.</th></tr>
    <tr>
      <td><b>Look out for motorcyclists</b></td>
        <td>Be aware that motorcycles are small and may be difficult to see. Motorcycles have a much smaller profile than other
          vehicles, which can make it more difficult to judge the speed and distance of an approaching motorcycle.
          </td>
      </tr>

      <tr>
        <td><b>Allow more following distance</b></td>
        <td>Leave three or four seconds when following a motorcycle, so the motorcyclist has enough time to maneuver or stop
          in an emergency. In dry conditions, motorcycles can stop more quickly than a vehicle. </td>
      </tr>

      <tr><td><b>Signal your intentions</b></td>
        <td>Before changing lanes or merging with traffic, signal your intentions allowing the motorcyclist to anticipate traffic flow and find a
          safe lane position.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4home')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg1b')}}">Continue</a></button>
</div>
</body>
</html>
