<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Signs, Signals & Pavement Markings</h5>
  <div class="sign">
  <table>
    <tr>
      <td><img src="{{ url_for('static', filename="images/noturnonred.png")}}"></td>
        <td>You may not turn during the red light cycle at an intersection where one of these signs is posted.
          You must wait for the signal to turn green.</td>
    </tr>
    <tr>
      <td><img src="{{ url_for('static', filename="images/reservedparking.png")}}"></td>
        <td><b>RESERVED PARKING</b> Although this sign is not black and white, it is a regulatory sign.
          It marks areas where parking is reserved for disabled persons or severely disabled veterans.
          Vehicles parked in these spaces must display authorized registration plates or parking placards.
          Unauthorized vehicles parked in these spaces are subject to a fine and towing costs. </td>
    </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod2pg9')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod2pg10b')}}">Continue</a></button>
</div>
</body>
</html>
