<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> HEALTH FACTORS</br>
      Your driving safety can be affected by problems with vision, hearing or medical conditions. </th></tr>
    <tr>
      <td><b>Vision</b></td>
        <td>Have your vision checked every one (1) or two (2) years. Your peripheral (side) vision, your distance judgment
          and your ability to see in low light conditions can deteriorate over time. If you need to wear glasses or contacts,
          make sure you use them every time you drive.</td>
      </tr>

      <tr>
        <td><b>Hearing</b></td>
        <td>Hearing can warn you of dangers you do not see, like another vehicle in your blind spot. Hearing is also important
          to let you know an emergency vehicle (police, fire, ambulance) is approaching or to detect a train at a railroad
          crossing.</td>
      </tr>

      <tr><td><b>Other Medical Conditions</b></td>
        <td>Various diseases and medical conditions can have a serious impact on your ability to control your vehicle effectively.
          The most dangerous include seizure disorders, diabetes and heart conditions. In Pennsylvania, physicians must
          report to PennDOT individuals whom they have diagnosed as having a condition that could impair their ability to
          drive safely. </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg5')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg6b')}}">Continue</a></button>
</div>
</body>
</html>
