<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><td>
             4. Get the information listed below from the other driver(s) involved in the crash:</br></br>
               • Names and addresses</br> • Telephone numbers</br>
               • Registration numbers</br> • Insurance company names and policy numbers</br></br>
             5. Get the names and addresses of other individuals involved in the crash and any witnesses of the crash.</br></br>
             6. If the crash involves a parked vehicle or damage to property, stop immediately, and try to find the owner. If you
             cannot find the owner, leave a note in a place where it can be seen and call the police. The note should include
             the date and time of the crash, your name and a telephone number where you can be reached.</br></br>
          </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg7')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg9')}}">Continue</a></button>
</div>
</body>
</html>
