<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> WHAT TO DO IF YOU ARE STOPPED BY THE POLICE:</br> Law enforcement officers issue written traffic citations to persons who are charged with violating the Pennsylvania Motor
      Vehicle Law. You must follow the directions of the officer at the time of the stop or you may be subject to arrest.
      </th></tr>
      <tr><th colspan="2"> Anytime a police vehicle stops behind you, for your safety and the safety of others, police
        recommend you do the following:
        </th></tr>
    <tr>
      <td><b>Do Not Panic</b></td>
        <td>• <b>Activate your turn signal</b> and drive as close as safely possible to the right edge of the road, stop,
            and park your vehicle safely away from traffic.</br></br>
            • <b>Turn off your engine and radio,</b> and roll down your
            window so you can communicate with the officer.</br></br>
            • <b>Turn on your vehicle’s interior light</b> as soon as you
            stop and before the officer approaches, if it is
            nighttime.</br></br>
            • <b>Limit your movements</b> and the movements of your
            passengers - do not reach for anything in the vehicle.
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg4')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg6')}}">Continue</a></button>
</div>
</body>
</html>
