<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
      <tr><td><b>Fasten your seat belt</b></td>
        <td>Fasten both your lap and shoulder belts on every trip.</td>
      </tr>
      <tr><td><b>Secure loose items in the passenger compartment</b></td>
        <td>In a crash, loose items in your vehicle become
          projectiles that continue to travel the same speed your vehicle was moving before the impact. Put heavier
          objects, such as backpacks, luggage and tools in your trunk, whenever possible, or secure them with the
          vehicle’s seat belts. Never store items on the rear window deck.</td>
      </tr>
      <tr><td><b>Adjust the rearview and side mirrors</b></td>
        <td>To remove blind spots around your vehicle, the rearview and side
          mirrors may have to be adjusted differently for each driver. The rearview mirror should be set so you can see
          the traffic directly behind your vehicle. The side mirror(s) should be set so when you lean left/right you can just
          barely see the side of your vehicle. Set the mirrors after you adjust your seat. </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg1')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg2b')}}">Continue</a></button>
</div>
</body>
</html>
