<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><th colspan="2"> CRASHES ARE MOST LIKELY TO OCCUR IN THESE HIGH-RISK SITUATIONS:
      </th></tr>
    <tr>
      <td><b>Left turns</b></td>
        <td>Approximately one-half of all motorcycle crashes involve another motor vehicle. Nearly 40 percent
          were caused by the other vehicle turning left in front of the motorcyclist.
          </td>
      </tr>

      <tr>
        <td><b>Vehicle’s blind spot</b></td>
        <td>Remember, motorcyclists are often hidden in a vehicle’s blind spot or missed in a quick look due
          to their smaller size. Always make a visual check for motorcycles by checking mirrors and blind
          spots before entering or leaving a lane of traffic
          and at intersections. </td>
      </tr>

      <tr><td><b>Hazardous road conditions</b></td>
        <td>Motorcyclists may change speed or adjust their position within a lane suddenly in reaction to road
          and traffic conditions such as potholes, gravel, wet or slippery surfaces, pavement seams, railroad
          crossings and grooved pavement.</td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg1')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg2b')}}">Continue</a></button>
</div>
</body>
</html>
