<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Learning to Drive</h5>
  <div class="sign">
  <table>
    <tr><td><b>Interacting with other passengers</b></td>
        <td> Particularly for teenage drivers, if you are a teen driver
          with other teens as passengers, statistics show you are more
          likely to have a crash. </td>
      </tr>
      <tr><td><b>Other Distractions</b></td>
        <td>• Searching for or moving an object in the vehicle.
            • Reading, writing or texting.
            • Personal grooming (combing hair, applying makeup).
            • Rubbernecking when passing a crash scene or a work zone.
            • Looking at people, objects or events happening off of the roadway. </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod3pg4')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod3pg5')}}">Continue</a></button>
</div>
</body>
</html>
