<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
    <tr><td>
             7. If the police do not investigate a crash and someone has died
             or been injured, or if a vehicle must be towed, send a
             Driver's Accident Report Form (AA-600) within five (5) days to:</br></br>
             PA Department of Transportation</br>
             Bureau of Highway Safety & Traffic Engineering</br>
             P.O. Box 2047</br>
             Harrisburg, PA 17105-2047
          </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg8')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg10')}}">Continue</a></button>
</div>
</body>
</html>
