<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Like A Pro</title>
 <link href="{{ url_for('static', filename="css/pages.css")}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Montserrat|PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h5 class="drive">Drive Like A Pro</h5>
  <h5 class="module">Records & Safety</h5>
  <div class="sign">
  <table>
          <tr><td>
           •<b>Alert the officer immediately</b>, if you are transporting any
           type of firearm.</br></br>
           • <b>Place your hands on the steering wheel</b>, and ask any
            passengers to have their hands in view.</br></br>
            • <b>Keep your vehicle doors closed</b> as the officer
            approaches, and stay inside your vehicle, unless
            the officer asks you to get out.</br></br>
            • <b>Keep your seat belt fastened</b> until the officer has
            seen you are appropriately restrained.</br></br>
            • <b>Wait until the officer asks you to retrieve your
            driver’s license</b>, registration and insurance cards.
            Do not hand the officer your wallet - just the
            requested items.</br></br>
            • <b>Always be polite.</b> The officer will tell you what you
            did wrong. You may receive only a warning or you
            may be cited for a traffic violation. If you disagree
            with the citation, you are entitled to a court hearing
            where you can present your arguments. If you believe you
            have not been treated in a professional manner, contact the
            appropriate police department at a time following the traffic stop,
            and ask for a supervisor.
          </td>
      </tr>
  </table>
</div>
      <button id="bottom-left" type="button"><a href="{{ url_for('mod4pg5')}}">Previous</a></button>
      <button id="bottom-right" type="button"><a href="{{ url_for('mod4pg7')}}">Continue</a></button>
</div>
</body>
</html>
